Getting Started
---------

3 steps to get started

### Step01: Setup SUGO-Cloud

<a href="{{{links.sugo-cloud}}}"><img src="{{{vars.bannerCloud}}}" alt="banner" height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

First of all, you need to setup [sugo-cloud](https://github.com/realglobe-Inc/sugo-cloud) on public network so that spot and terminal can access it.


### Step02: Run SUGO-Spot

<a href="{{{links.sugo-spot}}}"><img src="{{{vars.bannerSpot}}}" alt="banner" height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

Run [sugo-spot](https://github.com/realglobe-Inc/sugo-spot) on local network where your machine or sensors exists and access to the sugo-cloud.


### Step03: Use SUGO-Terminal

<a href="{{{links.sugo-terminal}}}"><img src="{{{vars.bannerTerminal}}}" alt="banner" height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

Connect to remote spot from [sugo-terminal](https://github.com/realglobe-Inc/sugo-terminal) via cloud.
