Getting Started
---------

3 steps to be get started

1. [Setup SUGO-Cloud](#setup-sugo-cloud)
2. [Run SUGO-Spot](#run-sugo-spot)
3. [Setup SUGO-Terminal](#use-sugo-terminal)

<a id="setup-sugo-cloud"></a>
### Setup SUGO-Cloud

<a href="{{{links.sugo-cloud}}}"><img src="assets/images/sugo-cloud-banner.png" alt="banner"
                                      height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

Start a [SUGO-Cloud][sugo_cloud_url] server for spots and terminals.

```javascript
{{{read 'example/example-cloud.js'}}}
```

<a id="run-sugo-spot"></a>
### Run SUGO-Spot

<a href="{{{links.sugo-spot}}}"><img src="assets/images/sugo-spot-banner.png" alt="banner"
                                     height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

Create a spot instance and define interfaces. Then, connect to the cloud server.

```javascript
{{{read 'example/example-cloud.js'}}}
```


<a id="use-sugo-terminal"></a>
### Use SUGO-Terminal

<a href="{{{links.sugo-terminal}}}"><img src="assets/images/sugo-terminal-banner.png" alt="banner"
                                         height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

Create a terminal instance and connect to the spot with key.
Then get access to the interface and call functions as you like.


```javascript
{{{read 'example/example-cloud.js'}}}
```
