Getting Started
---------

3 steps to be get started

1. [Setup SUGO-Cloud](#setup-sugo-cloud)
2. [Declare modules on SUGO-Actor](#run-sugo-actor)
3. [Access to modules from SUGO-Caller](#use-sugo-caller)

<a id="setup-sugo-cloud"></a>
### Setup SUGO-Cloud

<a href="{{{links.sugo-cloud}}}"><img src="assets/images/sugo-cloud-banner.png" alt="banner"
                                      height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

Setup a [SUGO-Cloud][sugo_cloud_url] server for actors and callers.

```javascript
{{{read 'example/example-cloud.js'}}}
```

<a id="run-sugo-actor"></a>
### Declare modules on SUGO-Actor

<a href="{{{links.sugo-actor}}}"><img src="assets/images/sugo-actor-banner.png" alt="banner"
                                     height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

Create a [SUGO-Actor][sugo_actor_url] instance and define interfaces. Then, connect to the cloud server.

```javascript
{{{read 'example/example-actor.js'}}}
```


<a id="use-sugo-caller"></a>
### Access to modules from SUGO-Caller

<a href="{{{links.sugo-caller}}}"><img src="assets/images/sugo-caller-banner.png" alt="banner"
                                         height="{{vars.bannerHeight}}" style="height:{{vars.bannerHeight}}px"
/></a>

Create a [SUGO-Caller][sugo_caller_url] instance and connect to the actor with key.
Then get access to modules and call functions as you like.

```javascript
{{{read 'example/example-caller.js'}}}
```
